
 .adding_component_wrapper {
  display: flex;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
  border-radius: 10px;
  flex-direction: column;
  margin: 20px 0px;
  box-sizing: border-box;
  box-shadow: 1px 1px 7px rgb(46 79 217 / 30%);
 }


 .adding_top_part {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
 }

 .adding_bottom_part {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
 }

 .adding_component_left_part {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
 }

 .adding_component_rigth_part {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
 }
