@import '~antd/dist/antd.css';

.App {
  height: 100%;
  width: 100%; 
  overflow: scroll;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

main {
  height: 100%;
  width: 100%; 
}


.container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 859px) { 
  .container {
    width: 93%; 
  } 
}

@media (min-width: 799px) and (max-width: 1174px) {
  .container {
    width: 90%; 
  } 
}

@media (min-width: 1175px) and (max-width: 1320px) {
  .container {
    width: 96%; 
  }
}

@media (min-width: 1321px) and (max-width: 1520px) {
  .container {
    width: 85%; 
  }
}

@media (min-width: 1521px) and (max-width: 1750px) {
  .container {
    width: 75%; 
  }
}

@media (min-width: 1751px) and (max-width: 1999px) {
  .container {
    width: 85%; 
  }
}
 

