.chatMenuGroupContainer {
  display: flex;
  width: 100%;
  height: auto; 
  align-items: center;
  justify-content: center; 
  flex-direction: column; 
}

.chatRooms {
  display: flex;
  width: 100%;
  height: 40px; 
  align-items: center;
  justify-content: center; 
  flex-direction: row; 
  overflow-y: scroll;
}

.roomTitle {
  color: #115d87;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
}


.itemMenu {
  display: flex;
  flex-direction: column; 
  cursor: pointer; 
}

.textItem {
  color: #676767; 
  font-size: 12px;
  font-weight: 600;
  margin: 0px 6px;
}

.textItem:hover {
  color: #3c3b3b;   
}

.activeItem {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #74a1ca; 
}