
    .cardProductWrapper { 
      display: flex;
      width: 260px;
      height: 400px;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 20%);
    }

    .cardProductImageContainer {
      display: flex;
      justify-content: center;
      align-items: center; 
      height: 35%;
      width: 100%; 
    }

    .cardProductRadioContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center; 
      flex-direction: column;
      height: 55%;
      width: 100%;
      margin-top: 10px;
      /* background-color: rgb(69, 170, 198); */
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center; 
      height: 10%;
      width: 100%;
      /* background-color: rgb(199, 147, 147); */
    }

    .cardImage {
      width: 80%;
      height: 100%;
    }
 
    .txtCardsName {
      font-weight: 500; 
      font-size: 15px;
      color: #121111;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
    }  

    .txtCardsAbout {
      margin-top: 5px;
      font-weight: 400;
      height: 45%;
      font-size: 12px;
      overflow: scroll;
      line-height: 1.4;
      text-align: center;
      padding: 0px 20px;
      color: #49485a;
    }

    .radioContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 6px;
    } 

    .colorLightGreen {
      background-color: #b9daff;
      border-color: #60a8f0;
    }

    .colorLightGreen:hover {
      background-color: #6ba6ef; 
      border-color: #004084;
      color: #fbfbfb;
    }

    .colorLightGreen:focus {
      background-color: #60a8f0;
      border-color: #60a8f0;
    }
 