 .check_item_wrapper {
  display: flex;
  flex-direction: row;
 }
 .check_component_wrapper {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
 }

 .check_component_item {
   display: flex;
   width: 35px;
   height: 35px;
   align-items: center;
   justify-content: center;
   border: 1px solid gray;
   border-radius: 5px;
   cursor: pointer;
 }

 .check_component_item img {
  width: 25px;
  height: 25px;
 }

 .chek_component_text {
    margin-left: 20px;
    font-size: 18px;
 }
