 .wrapper_homewarning {
  margin-top: 3rem;
 }

 .alert_homewarning {
  color: #004085; 
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #b8daff;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  padding: 3rem 1.5rem;
 }
 
 .column_homewarning_top {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 1rem ;
 }
 
 .column_homewarning_bottom {
  font-size: 14px;
  line-height: 19px;
 }
 
.bold {
  font-weight: 600;
}