 
header.nobord {
  box-shadow: none;
}
 
.subHeadMenu {
  margin-top: 180px;
  width: 100%;
}
 
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
 
a:-webkit-any-link { 
  cursor: pointer; 
} 
 
.test>li>a:hover {
  color: #d7e0ea;
}

.container nav {
  height: auto;
}
 
nav a {
  position: relative;
}

.border_bottom {
  border-bottom: 1px solid #dcdee1;
}