.account_settings_copy_wrapper {
  display: flex;
  width: 500px;
  height: auto;
  min-height: 300px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 0px 12px rgb(0 0 0 / 20%);
  border-radius: 12px;
  margin: 20px;
  overflow: scroll;
  padding-top: 20px;
}

.item_account_settings {
  display: flex;
  width: 90%;
  height: 40px;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  color: #4a5aaf;
  box-shadow: 1px 1px 5px #00000029;
}

.account_settings_item_container {
  display: flex;
  width: 50%;
  height: 90%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 0px 12px rgb(0 0 0 / 20%);
  border-radius: 12px;
  overflow: scroll;
}

.account_settings_left_container {
  display: flex;
  width: 680px;
  height: 300px;
  align-items: flex-start;
  flex-direction: row;
}

.row_buttons_account_settings {
  display: flex;
  width: 400px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.account_settings_copy_btn_padding {
  display: flex;
  width: 60px;
  height: 180px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
